@font-face {
    font-family: 'Myriad';
    src: url('#{$plugin-path}/assets/fonts/M400600.eot');
    src: url('#{$plugin-path}/assets/fonts/M400600.eot') format('embedded-opentype'),
         url('#{$plugin-path}/assets/fonts/M400600.woff2') format('woff2'),
         url('#{$plugin-path}/assets/fonts/M400600.woff') format('woff'),
         url('#{$plugin-path}/assets/fonts/M400600.ttf') format('truetype'),
         url('#{$plugin-path}/assets/fonts/M400600.svg#M400600') format('svg');
}

@font-face {
    font-family: 'MyriadBold';
    src: url('#{$plugin-path}/assets/fonts/M700600.eot');
    src: url('#{$plugin-path}/assets/fonts/M700600.eot') format('embedded-opentype'),
         url('#{$plugin-path}/assets/fonts/M700600.woff2') format('woff2'),
         url('#{$plugin-path}/assets/fonts/M700600.woff') format('woff'),
         url('#{$plugin-path}/assets/fonts/M700600.ttf') format('truetype'),
         url('#{$plugin-path}/assets/fonts/M700600.svg#M700600') format('svg');
}
