.overlay(@centered: false, @with-close: true) {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #fff;
    z-index: 3;

    padding: 80px;
}
.overlay(@centered: false, @with-close: true) when (@centered = true) {
    .centered();
}
.overlay(@centered: false, @with-close: true) when (@with-close = true) {
    background-image: url("#{$icon-path}/black/decline-circle.svg");
    background-position: right 3px top 3px;
    background-repeat: no-repeat;
    background-size: 74px;
}
