@mixin centered() {
    text-align: center;

    // Vertical centering
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

@mixin overlay($centered: false, $with-close: true) {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #fff;
    z-index: 3;

    padding: 80px;

    @if $centered {
        @include centered();
    }

    @if $with-close {
        background-image: url("#{$icon-path}/black/decline-circle.svg");
        background-position: right 3px top 3px;
        background-repeat: no-repeat;
        background-size: 74px;
    }
}

#course-overlay {
    @include overlay();
    font-size: 2em;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 1em;

    &::after {
        background-color: #fff;
        background-image: linear-gradient(to bottom, fade-out(#fff, 1), #fff);

        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1em;
    }
}
.course-overlay {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    header {
        flex-shrink: 0;
    }
    article {
        overflow-y: auto;
        > *:last-child {
            padding-bottom: 2em;
        }
    }

    h2 {
        border-bottom: 1px solid #444;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
    .description {
        font-size: 0.8em;
        white-space: pre-line;
    }


    .qrcode {
        &:not(.enlarged) {
            background-image: url("#{$image-path}/ajax-indicator-black.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50%;
        }

        margin-bottom: 1em;
        margin-left: 1em;
        padding-top: 1em;
        width: 200px;
        height: 200px;
        float: right;

        img {
            max-height: 100%;
        }

        &.enlarged {
            width: 400px;
            height: 400px;
            margin-top: 3em;
            padding-right: calc(50% + 200px);
            padding-left: 50%;
            margin-bottom: 8em;
        }
    }
    canvas {
        display: none !important;
    }
}
