/*!*********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/fonts.scss ***!
  \*********************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
@font-face {
  font-family: "Myriad";
  src: url("fonts/M400600.eot");
  src: url("fonts/M400600.eot") format("embedded-opentype"), url("fonts/M400600.woff2") format("woff2"), url("fonts/M400600.woff") format("woff"), url("fonts/M400600.ttf") format("truetype"), url("fonts/M400600.svg#M400600") format("svg");
}
@font-face {
  font-family: "MyriadBold";
  src: url("fonts/M700600.eot");
  src: url("fonts/M700600.eot") format("embedded-opentype"), url("fonts/M700600.woff2") format("woff2"), url("fonts/M700600.woff") format("woff"), url("fonts/M700600.ttf") format("truetype"), url("fonts/M700600.svg#M700600") format("svg");
}
/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/current-view.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Myriad, sans-serif;
  font-size: 3.1vh;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/landscape-light-wide.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
body > header {
  position: absolute;
  top: 0;
  right: 2vw;
  bottom: 89vh;
  left: 27vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  padding-bottom: 8px;
}
body > header h1,
body > header h2 {
  margin: 0;
  padding: 0;
  font-size: 4vh;
}
body > header aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
body > header aside time {
  font-size: 4vh;
}
body > header aside date {
  font-size: 3.5vh;
}
body > section {
  position: absolute;
  top: 14vh;
  right: 2vw;
  bottom: 6vh;
  left: 25vw;
  color: #033baa;
}
body > footer {
  position: absolute;
  top: 95.5vh;
  right: 2vw;
  bottom: 0;
  left: 25vw;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  font-size: 3.5vh;
}

.courses {
  list-style: none;
  margin: 0;
  padding: 2vh 2vw;
}
.courses > li {
  padding: 0.4em 0.5em;
  min-height: 3.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.courses > li .time,
.courses > li .room {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 17%;
          flex: 1 0 17%;
  text-align: right;
  padding-right: 2vw;
}
.courses > li .title,
.courses > li .teachers {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 83%;
          flex: 3 0 83%;
}
.courses > li .time {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.courses > li .room {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.courses > li .title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-family: MyriadBold, sans-serif;
}
.courses > li .teachers {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.courses > li .time, .courses > li .title {
  font-size: 0.75rem;
}
.courses > li .time::first-line, .courses > li .title::first-line {
  font-size: 1rem;
}
.courses > li .room, .courses > li .teachers {
  max-height: 1.2em;
  overflow: hidden;
}
.courses > li:not(:first-child) {
  border-top: 1px solid #a2b3cd;
}
.courses > li[class^=direction] {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 6vh;
}
.courses > li.direction-left {
  background-image: url("images/left.png");
}
.courses > li.direction-up-left {
  background-image: url("images/leftup.png");
}
.courses > li.direction-right {
  background-image: url("images/right.png");
}
.courses > li.direction-up-left {
  background-image: url("images/rightup.png");
}
.courses > .empty {
  display: block;
  font-size: 5vh;
  padding: 21vh 0;
  text-align: center;
}
.courses > .empty:not(:first-child) {
  display: none;
}

ul.teachers {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.teachers li {
  display: inline;
}
ul.teachers li:not(:last-child)::after {
  content: ", ";
}

footer > .progress {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #fff;
  border: 1px solid #eee;
  left: 0;
  right: 100%;
}

body:target > header {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.3);
}
body:target > section {
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.3);
}
body:target > footer {
  border: 1px solid blue;
  background: rgba(0, 0, 255, 0.3);
}

.portrait {
  display: none;
}

@media (max-width: 768px) {
  .landscape {
    display: none;
  }
  .portrait {
    display: initial;
  }
  body {
    background-image: url("images/portrait-light.jpg");
    font-size: 2vh;
  }
  body > header {
    bottom: 94vh;
    left: 20vw;
  }
  body > header h1,
  body > header h2 {
    font-size: inherit;
  }
  body > header aside time {
    font-size: inherit;
  }
  body > header aside date {
    font-size: 1.3vh;
  }
  body > section {
    left: 2vw;
    top: 7vh;
  }
  body > footer {
    left: 2vw;
    top: 97.5vh;
    font-size: 2vh;
  }
  body .courses > li .time,
  body .courses > li .title {
    font-size: inherit;
  }
  body .courses > li .time:first-line,
  body .courses > li .title:first-line {
    font-size: inherit;
  }
  body .courses > li .time,
  body .courses > li .room {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 23%;
            flex: 1 0 23%;
    text-align: right;
    padding-right: 2vw;
  }
  body .courses > li .title,
  body .courses > li .teachers {
    -webkit-box-flex: 3;
        -ms-flex: 3 0 77%;
            flex: 3 0 77%;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: url("images/landscape-dark-wide.jpg");
  }
  body > section {
    color: #fff;
  }
}
@media (prefers-color-scheme: dark) and (max-width: 768px) {
  body {
    background-image: url("images/portrait-dark.jpg");
  }
}

/*# sourceMappingURL=current-view.css.map*/