/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/switches.scss ***!
  \************************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
#switches {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}
#switches > button {
  vertical-align: middle;
}
#switches #help-overlay-switch,
#switches #opencast-overlay-switch {
  z-index: 2;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid #000;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
#switches #help-overlay-switch img,
#switches #opencast-overlay-switch img {
  display: none;
}
#switches #help-overlay-switch {
  background-image: url("../../../../assets/images//icons/black/info.svg");
}
#switches #opencast-overlay-switch {
  background-image: url("../../../../assets/images//icons/black/video.svg");
}

#help-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 3;
  padding: 80px;
  text-align: center;
  background-image: url("../../../../assets/images//icons/black/decline-circle.svg");
  background-position: right 3px top 3px;
  background-repeat: no-repeat;
  background-size: 74px;
  font-size: 2em;
}
#help-overlay::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#help-overlay > div {
  display: inline-block;
  vertical-align: middle;
}
#help-overlay h2 {
  margin: 0;
  padding: 0;
}
#help-overlay dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: left;
}
#help-overlay dl dt, #help-overlay dl dd {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0;
  padding: 0;
}
#help-overlay dl dt {
  padding-right: 0.25em;
  text-align: right;
}
#help-overlay dl dt::after {
  content: ":";
}
#help-overlay dl dd {
  padding-left: 0.25em;
  text-align: left;
}
#help-overlay ul.contact {
  list-style: none;
  margin: 0;
  padding: 0;
}
#help-overlay ul.contact li {
  display: inline-block;
}
#help-overlay ul.contact li:not(:last-child)::after {
  content: "|";
  padding: 0 0.25em;
}

#opencast-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 3;
  padding: 80px;
  text-align: center;
  background-image: url("../../../../assets/images//icons/black/decline-circle.svg");
  background-position: right 3px top 3px;
  background-repeat: no-repeat;
  background-size: 74px;
  font-size: 2em;
}
#opencast-overlay::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#opencast-overlay > div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#opencast-overlay h2 {
  background-image: url("../../../../assets/images//icons/black/video.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 128px;
  border-bottom: 3px solid #444;
  margin: 0;
  padding: 0 0 0 140px;
}
#opencast-overlay li:last-child {
  margin-top: 1em;
}
#opencast-overlay li img {
  vertical-align: text-bottom;
}
/*!*******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/loading-overlay.scss ***!
  \*******************************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 3;
  padding: 80px;
  text-align: center;
  display: block;
  font-size: 5em;
}
#loading-overlay::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#loading-overlay .text::before {
  background-image: url("../../../../assets/images//ajax-indicator-black.svg");
  background-size: contain;
  content: "";
  display: inline-block;
  margin-right: 0.5ex;
  width: 0.7em;
  height: 0.7em;
}

@media (prefers-color-scheme: dark) {
  #loading-overlay {
    background-color: #000;
  }
  #loading-overlay .text::before {
    background-image: url("../../../../assets/images//ajax-indicator-white.svg");
  }
}
/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/course-overlay.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
#course-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 3;
  padding: 80px;
  background-image: url("../../../../assets/images//icons/black/decline-circle.svg");
  background-position: right 3px top 3px;
  background-repeat: no-repeat;
  background-size: 74px;
  font-size: 2em;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 1em;
}
#course-overlay::after {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
}

.course-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100%;
}
.course-overlay header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.course-overlay article {
  overflow-y: auto;
}
.course-overlay article > *:last-child {
  padding-bottom: 2em;
}
.course-overlay h2 {
  border-bottom: 1px solid #444;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.course-overlay .description {
  font-size: 0.8em;
  white-space: pre-line;
}
.course-overlay .qrcode {
  margin-bottom: 1em;
  margin-left: 1em;
  padding-top: 1em;
  width: 200px;
  height: 200px;
  float: right;
}
.course-overlay .qrcode:not(.enlarged) {
  background-image: url("../../../../assets/images//ajax-indicator-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.course-overlay .qrcode img {
  max-height: 100%;
}
.course-overlay .qrcode.enlarged {
  width: 400px;
  height: 400px;
  margin-top: 3em;
  padding-right: calc(50% + 200px);
  padding-left: 50%;
  margin-bottom: 8em;
}
.course-overlay canvas {
  display: none !important;
}
/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/room-view.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
*:active, *:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 8px;
  position: relative;
}

body > output {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fec;
  border-top: 1px solid #888;
  padding: 0.5em;
}

body > progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.3;
}

header {
  margin-top: 7px;
  max-height: 90px;
  overflow: hidden;
}
header h1 {
  border-bottom: 5px solid transparent;
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
header h1 a {
  color: #000;
  text-decoration: none;
}
header small {
  display: block;
  font-size: 0.5em;
  font-weight: normal;
}
header nav a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 12px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
header nav a.previous-week {
  background-image: url("../../../../assets/images//icons/black/arr_1left.svg");
  left: 0;
}
header nav a.next-week {
  background-image: url("../../../../assets/images//icons/black/arr_1right.svg");
  right: 0;
}

table.week-schedule {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  margin: 0 auto;
  width: calc(100% - 64px);
  z-index: 2;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
}
table.week-schedule th, table.week-schedule td {
  vertical-align: top;
}
table.week-schedule thead th {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
}
table.week-schedule tbody th, table.week-schedule tbody td {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
}
table.week-schedule tbody th {
  height: 3em;
  font-weight: normal;
  padding: 0.25em;
  vertical-align: middle;
}
table.week-schedule tbody td {
  background-color: #eee;
  height: 3em;
  line-height: 1;
  position: relative;
}
table.week-schedule tbody td.course-info {
  background-color: #fff;
}

.schedule-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0.25em;
  background: white;
  border: 1px solid #444;
}
.schedule-item .name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: hidden;
  line-height: 1.2;
}
.schedule-item .teachers {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1em;
          flex: 0 0 1em;
  text-align: right;
}
.schedule-item[data-duration="1"] .teachers, .schedule-item[data-duration="2"] .teachers, .schedule-item[data-duration="3"] .teachers {
  display: none;
}
.schedule-item[data-duration="1"] {
  font-size: 0.5em;
}
.schedule-item.current-slot {
  background-color: #fec;
  font-weight: bold;
}
.schedule-item.is-holiday {
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcc;
}
.schedule-item.is-holiday::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.schedule-item.is-holiday .name {
  -ms-flex-item-align: center;
      align-self: center;
}
.schedule-item.has-recording::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2px 0;
  border: 1px solid #444;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 2px;
  background-image: url("../../../../assets/images//icons/grey/video.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  pointer-events: none;
}
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.schedule-item.has-recording.current-slot::before {
  background-color: #f7cccc;
  background-image: url("../../../../assets/images//icons/black/video.svg");
}
.schedule-item.has-recording.current-slot::after {
  -webkit-animation: fade-in-out 1s alternate infinite;
          animation: fade-in-out 1s alternate infinite;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2px 0;
  border: 1px solid #e66666;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 2px;
  background-color: #f7cccc;
  background-image: url("../../../../assets/images//icons/red/video.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  pointer-events: none;
}
.schedule-item.has-recording .teachers {
  margin-left: 48px;
}

ul.teachers {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.teachers li {
  display: inline;
}
ul.teachers li:not(:last-child)::after {
  content: ", ";
}

#clock {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 40px;
  padding: 20px 0 20px 85px;
  line-height: 1;
  background-image: url("../../../../assets/images//icons/black/date.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 80px;
}

#debug-time {
  position: absolute;
  left: 90px;
  top: 65px;
}

.yearweek::before {
  content: "(";
}
.yearweek::after {
  content: ")";
}

#help-overlay .contact .phone::before {
  background-image: url("../../../../assets/images//icons/black/phone.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  height: 36px;
  vertical-align: text-top;
  width: 36px;
  margin-left: 0;
}
#help-overlay .contact .phone::before {
  vertical-align: text-bottom;
}
#help-overlay .contact .mail::before {
  background-image: url("../../../../assets/images//icons/black/mail.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  height: 36px;
  vertical-align: text-top;
  width: 36px;
  margin-left: 0;
}
#help-overlay .contact .mail::before {
  vertical-align: text-bottom;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
  header h1 a {
    color: #fff;
  }
  header nav a.previous-week {
    background-image: url("../../../../assets/images//icons/white/arr_1left.svg");
  }
  header nav a.next-week {
    background-image: url("../../../../assets/images//icons/white/arr_1right.svg");
  }
  .schedule-item {
    background-color: #444;
    border-color: #bbb;
  }
  table.week-schedule tbody td {
    background-color: #000;
  }
  #clock {
    background-image: url("../../../../assets/images//icons/white/date.svg");
  }
  #switches #help-overlay-switch {
    background-image: url("../../../../assets/images//icons/white/info.svg");
    border-color: #fff;
  }
  #switches #opencast-overlay-switch {
    background-image: url("../../../../assets/images//icons/white/video.svg");
    border-color: #fff;
  }
  #help-overlay,
  #course-overlay {
    background-color: #000;
    background-image: url("../../../../assets/images//icons/white/decline-circle.svg");
  }
  #help-overlay .contact .phone::before {
    background-image: url("../../../../assets/images//icons/white/phone.svg");
    background-size: 36px;
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 36px;
    vertical-align: text-top;
    width: 36px;
    margin-left: 0;
  }
  #help-overlay .contact .mail::before {
    background-image: url("../../../../assets/images//icons/white/mail.svg");
    background-size: 36px;
    background-repeat: no-repeat;
    content: " ";
    display: inline-block;
    height: 36px;
    vertical-align: text-top;
    width: 36px;
    margin-left: 0;
  }
  #course-overlay::after {
    background-color: #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  }
}
/*!********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./resources/css/room-view-mobile.scss ***!
  \********************************************************************************************************************************************************************************************************************************/
/* This code calculates another activity color in case you dont wanna stick with red

$active-color: hsv((hsvhue($red) - hsvhue($base-color) + hsvhue($origin-base-color)),
hsvsaturation($red),
hsvvalue($red));
*/
/**
 * studip-mixins.less
 *
 * This file contains all mixins created specifically for Stud.IP
 * while mixins.less should contain a copy of the mixins from
 * twitter's bootstrap.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
/*
 * arrow.less - CSS arrows mixin
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 *
 * @author      Jan-Hendrik Willms <tleilax+studip@gmail.com>
 * @license     http://www.gnu.org/licenses/gpl-2.0.html GPL version 2
 * @category    Stud.IP
 * @since       4.4
 */
@media (orientation: portrait) {
  body > header,
  body > progress,
  body > #help-overlay-switch,
  body > #clock,
  body > #debug-time,
  body > table thead,
  body > .qrcode {
    display: none !important;
  }
  #loading-overlay {
    font-size: 2em;
  }
  #course-overlay {
    background-image: none;
    font-size: 1em;
    padding: 0.5em;
  }
  #course-overlay .dates {
    border-bottom: 1px solid #000;
    font-weight: bold;
  }
  #course-overlay .description {
    font-size: 1em;
  }
  table.week-schedule {
    width: 100%;
  }
  table.week-schedule colgroup col:first-child {
    width: 4%;
  }
  body[data-current-day="1"] [data-day]:not([data-day="1"]) {
    display: none;
  }
  body[data-current-day="2"] [data-day]:not([data-day="2"]) {
    display: none;
  }
  body[data-current-day="3"] [data-day]:not([data-day="3"]) {
    display: none;
  }
  body[data-current-day="4"] [data-day]:not([data-day="4"]) {
    display: none;
  }
  body[data-current-day="5"] [data-day]:not([data-day="5"]) {
    display: none;
  }
  body[data-current-day="6"] [data-day]:not([data-day="6"]) {
    display: none;
  }
  body[data-current-day="7"] [data-day]:not([data-day="7"]) {
    display: none;
  }
}

/*# sourceMappingURL=room-view.css.map*/