@import "less/overlay-mixin.less";
@import "less/help-overlay.less";

* {
    box-sizing: border-box;
    font-family: Helvetica;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
body > output {
    display: none;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #fec;
    border-top: 1px solid #888;
    padding: 0.5em;
}
body > progress {
    -webkit-appearance: none;
    appearance: none;
    border: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    z-index: 1;
    opacity: 0.3;
}

header {
    h1 {
        border-bottom: 5px solid transparent;
        font-size: 2em;
        font-weight: bold;
        margin: 0 0 0.25em;
        padding: 0.5em 0;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}


table.week-schedule {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    z-index: 2;

    border: 1px solid #444;

    th, td {
        vertical-align: top;

        > div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    thead th {
        line-height: 1.5;

        border-bottom: 1px solid #444;
        border-right: 1px solid #444;
        &:last-child {
            border-right: 0;
        }
    }

    tbody {
        th {
            vertical-align: middle;
        }
        th, td {
            border: 1px solid #444;
            height: 3em;
            line-height: 1;
            padding: 0.25em;
        }

        tr:nth-child(2n) th {
            font-weight: normal;
        }

        td {
            background-color: #eee;
            &.course-info {
                background-color: #fff;
            }
        }
    }

    tr.current-slot > td, tr.current-slot > th, tr > td.current-slot {
        background-color: fadeout(#fec, 95%);
    }

    tr.current-slot > td.course-info, tr > td.current-slot.course-info {
        background-color: fadeout(#fec, 75%);
    }

    tr > th.current-day, tr > td.course-info.current-day {
        background-color: fadeout(#fec, 75%);
    }

    tr > td.current-day.current-slot {
        background-color: #fec;
        font-weight: bold;
    }
}

#loading-overlay {
    .overlay(true);

    font-size: 5em;

    img {
        height: 0.7em;
    }
}
#course-overlay {
    .overlay();

    margin: 1em;
    padding: 1em;
}
.course-info, #course-overlay {
    cursor: pointer;
}

ul.teachers {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline;

        &:not(:last-child)::after {
            content: ', ';
        }
    }
}
